@media screen and ( max-width: 1200px )
    .header
        padding-top: 30px
        padding-bottom: 30px
        &__tel
            font-size: 16px
            img
                margin-right: 5px
        &__link
            margin-right: 18px
            font-size: 12px

@media screen and ( max-width: 991px )
    .header
        &__burger
            display: flex
        &__nav, &__tel
            display: none